* {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  background-image: url(./media/bgwl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


